<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login/Signup</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
	<link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div>
        <img src="./static/KeyCode.png" alt="Minha Imagem" class="imagem">
    </div>
	<!-- partial:index.partial.html -->
	
	<div class="section posicao">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3" style="color: #102770;"><span>Entrar </span><span>Criar Conta</span></h6>
						<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3" style="color: #102770;">KeyCode Manager</h4>
											<form action="{{ url_for('login') }}" method="post">
											<div class="form-group">
												<input type="email" name="email" class="form-style"
													placeholder="Seu Email" id="logemail_c" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="senha" class="form-style"
													placeholder="Sua Senha" id="logpass_c" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
												<i class="input-icon-2 uil-eye-slash" id="passwordToggle"></i>
											</div>
											<button type="submit" class="btn mt-4">entrar</button>
											</form>
											<p class="mb-0 mt-4 text-center"><a href="#0" class="link"> Esqueceu sua senha?</a></p>
										</div>
									</div>
								</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Criar Conta</h4>
											<form action="{{ url_for('adicionarUsuario') }}" method="post">
											<div class="form-group">
												<input type="text" name="logname" class="form-style"
													placeholder="Seu Nome Completo" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>
											<div class="form-group mt-2">
												<input type="email" name="logemail_c" class="form-style"
													placeholder="Seu Email" id="logemail_s" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style"
													placeholder="Sua Senha" id="logpass_s" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
												<i class="input-icon-2 uil-eye-slash" id="passwordToggle"></i>
											</div>
											
											<button type="submit" class="btn mt-4">cadastrar</button>
											</form>
										
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->

</body>
<script>
	const passwordToggle = document.getElementById("passwordToggle");
	const passwordField = document.getElementById("logpass_s");
  
	passwordToggle.addEventListener("click", function () {
	  if (passwordField.type === "password") {
		passwordField.type = "text";
		passwordToggle.classList.remove("uil-eye-slash");
		passwordToggle.classList.add("uil-eye");
	  } else {
		passwordField.type = "password";
		passwordToggle.classList.remove("uil-eye");
		passwordToggle.classList.add("uil-eye-slash");
	  }
	});
</script>
</html>
