<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='StyleTelaInicial.css') }}">
    <title>KeyCode Manager</title>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #102770;">
    <a class="navbar-brand nav-link" href="#">KeyCode Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.endpoint == 'QRCode.lerQRCODE' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('QRCode.lerQRCODE') }}">Pegar Chaves</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'acessarChaves' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('acessarChaves') }}">Acessar Chaves</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'acessarUsuarios' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('acessarUsuarios') }}">Acessar Usuários</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'chave.novaChave' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('chave.novaChave') }}">Nova Chave</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Novo Usuário</a>
            </li>
            <li class="nav-item {% if request.endpoint == 'acessarHistorico' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('acessarHistorico') }}">Acessar Histórico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Sair</a>
            </li>
        </ul>
    </div>
</nav>
<div class="body2">
    <div class="buttons-container">
        <div class="row mb-4">
            <div class="col-4 text-center">
                <i class="bi bi-qr-code-scan icone-dashboard"></i>
                <a href="{{ url_for('QRCode.lerQRCODE') }}" class="btn btn-dark-blue btn-block">Pegar Chaves</a>
            </div>
            <div class="col-4 text-center">
                <i class="bi bi-key-fill icone-dashboard"></i>
                <a href="{{ url_for('acessarChaves') }}" class="btn btn-dark-blue btn-block">Acessar Chaves</a>
            </div>
            <div class="col-4 text-center">
                <i class="bi bi-people-fill icone-dashboard"></i>
                <a href="{{ url_for('acessarUsuarios') }}" class="btn btn-dark-blue btn-block">Acessar Usuários</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <i class="bi bi-key icone-dashboard"></i>
                <a href="{{ url_for('chave.novaChave') }}" class="btn btn-dark-blue btn-block">Nova Chave</a>
            </div>
            <div class="col-4 text-center">
                <i class="bi bi-person-circle icone-dashboard"></i>
                <a href="#" class="btn btn-dark-blue btn-block">Novo Usuário</a>
            </div>
            <div class="col-4 text-center">
                <i class="bi bi-list-check icone-dashboard"></i>
                <a href="{{ url_for('acessarHistorico') }}" class="btn btn-dark-blue btn-block">Acessar Histórico</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
